.tabs-links li{
    display: inline-block;
    padding: 4px 9px;
    margin: 0 6px;
    border: 1px solid rgb(162, 181, 204);
    font-size: 17px;
    color: rgb(148, 164, 183);
    transition: 0.6s;
}
.tabs-links li i{
    margin-right: 4px;
}
.tabs-links li:hover{
    background: rgb(162, 181, 204);
    color:white;
    cursor: pointer;
}
.tabs-links{
    margin: 10px 0px;
    text-align: center;
}
.tabs-links .active{
    background: rgb(162, 181, 204);
    color: white;
}
.weather .description {
    line-height: 24px;
    vertical-align: super;
}
@media screen and (max-device-width: 640px), screen and (max-width: 640px){
    .tabs-links li {
        margin: 0 10px 10px;
    }
}